<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs', {title: 'Detalle Producto' }) %>

	<body>
		<%- include('partials/header.ejs') %>
			<!-- product detail -->
			<div class="container">
				<div class="products_title_mobile">
					<h2 class="products-title">
						<%= product.name %>
					</h2>
				</div>
				<div class="product-detail">
					<div class="row">
						<div class="col-12 col-lg-8">
							<img src="/img/<%= product.image %>" alt="product image" class="product-detail-img">
							<div class="products_title_desktop">
								<h2 class="products-title">
									<%= product.name %>
								</h2>
							</div>
							<% if(product.discount> 0) {
								let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
								%>
								<p class="product-detail-price small">
									<span> $ <%= product.price %></span>
									/
									<b>
										<%= product.discount %>% OFF
									</b>
								</p>
								<p class="product-detail-price">
									$<%= finalPrice %>
								</p>
								<% } else { %>
									<p class="product-detail-price">
										$<%= product.price %>
									</p>
									<% } %>
										<ul class="payment">
											<li class="payment_tabs_tab">
												<i class="fas fa-credit-card"></i>
												<p>Pagá en 12 cuotas sin interes</p>
											</li>
											<li class="payment_tabs_tab">
												<i class="fas fa-store"></i>
												<p>Retiro gratis en locales del vendedor</p>
											</li>
										</ul>

										<button class="detail_button">Comprar Ahora</button>
										<article class="product-detail-info">
											<a href="/products/edit/<%= product.idproduct %>" class="detail_button">EDITAR
												PRODUCTO</a>
											<form action="/products/delete/<%= product.idproduct %>?_method=DELETE"
												method="POST">
												<button class="detail_button" type="submit">Eliminar</button>
											</form>
										</article>
								</div>
										<p class="product-detail-description">
											<%= product.description %>
										</p>
						</div>
					</div>

			</div>
			<!-- /product detail -->

			<!-- footer -->
			<%- include('partials/footer.ejs') %>
				<!-- /footer -->

	</body>

</html>