<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_home.css">
    <link rel="stylesheet" href="/css/style_header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/style_footer.css">
    <title>Home | Ferretería Belgrano</title>

</head>

    <body>
        <%- include('partials/header.ejs') %>
            <main>
                <!---Sección banner-->
                <section class="main_banner">

                    <img name="slider" width="100%">
                    <script>
                        window.addEventListener("load", function(){
            
                            var imagenes = [];
                            imagenes[0]="/img/PRUEBA.png"
                            imagenes[1]="/img/banner11.webp"
                            imagenes[2]="/img/banner10.webp"
                            imagenes[3]="/img/banner12.webp"
                            imagenes[4]="/img/PRUEBA.png"
                            
                            var IndiceImagenes = 0;
            
                            function cambiarImagenes(){
                                document.slider.src = imagenes[IndiceImagenes];
                                if(IndiceImagenes<4){
                                    IndiceImagenes++;
                                }else{
                                    IndiceImagenes=0;
                                }
                            }
                            setInterval(cambiarImagenes,2000);
                        })
                    </script>





                </section>
                <!---Sección medios de pago-->
                <section class="payment">
                    <div class="payment_tabs_tab">
                        <div>
                            <i class="fa-solid fa-money-check-dollar"></i>
                        </div>
                        <div>
                            <h3>Pagá en cuotas</h3>
                            <a href="http://">Ver promociones bancarias</a>
                        </div>
                    </div>
                    <div class="payment_tabs_tab">
                        <div>
                            <i class="fa-solid fa-credit-card"></i>
                        </div>
                        <div>
                            <h3>Tarjeta de débito</h3>
                            <a href="http://">Ver más</a>
                        </div>
                    </div>
                    <div class="payment_tabs_tab">
                        <div>
                            <i class="fa-solid fa-money-bill"></i>
                        </div>
                        <div>
                            <h3>Efectivo</h3>
                            <a href="http://">Ver más</a>
                        </div>
                    </div>
                    <div class="payment_tabs_tab">
                        <div>
                            <i class="fa-solid fa-cash-register"></i>
                        </div>
                        <div>
                            <h3>Más medios de pago</h3>
                            <a href="http://">Ver más</a>
                        </div>
                    </div>
                </section>
                <!---Sección productos recomendados-->
                <div class="recomended_products_title">
                    <h2>FERRETERIA BELGRANO</h2><a href="http://" class="product_link_title">Ver más</a>
                </div>
                <section class="product_recomended">
                    <% products.forEach(product => { 
                        let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
                        %>
                        <a href="/products/detail/<%= product.idproduct %>">
                            <article class="product_carousel">
                                <div class="product_carousel_card">
                                  <img src="/img/<%= product.image %>">
                                  <h3>$<%= finalPrice%></h3>
                                  <p>Descuento: <%= product.discount %>%</p>
                                  <h4><%= product.name %></h4>
                                </div>
                              </article>
                        </a>
                      <% }) %>
                </section>
                <!---Sección Categorías-->
                <section class="category">
                    <div class="category_title">
                        <h2>Encontrá el producto que buscás</h2>
                        <a href="/products/category">Ver todas las categorías</a>
                    </div>
                    <article class="category_cards">
                        <% category.forEach(category => { 
                        %>
                        <div class="category_card">
                            <a href="http://">
                                <img src="/img/<%= category.image %>" alt="">
                                <p><%= category.nombre %></p>
                            </a>
                        </div>
                      <% }) %>
                    </article>
                </section>
                <section class="carousel_footer">
                    <i class="fa-solid fa-store"></i>
                    <h3>Elegí los productos que vas a comprar.</h3>
                    <p>Si querés más de uno, sumalos a tu carrito</p>
                </section>
            </main>
            <%- include('partials/footer.ejs') %>
    </body>

</html>