<!DOCTYPE html> 
<link rel="stylesheet" href="/css/style_personal.css">
<html lang="en">

    <title>Document</title>


<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>
                <!---Sección productos recomendados-->
                <div class="recomended_products_title">
                    <h2>Personal Ferreteria Belgrano</h2><a href="http://" class="product_link_title">Ver más</a>
                </div>
                <section class="product_recomended">
                    <% products.forEach(product => { %>
                        <article class="product_carousel">
                          <div class="product_carousel_card">
                            <img src="<%= product.imagen %>">
                            <h3><%= product.precio %></h3>
                            <h4><%= product.nombre %></h4>
                            <h5><%= product.apellido %></h5>
                            <h6><%= product.puesto %></h6>
                          </div>
                        </article>
                      <% }) %>
                </section>
            <!---Footer-->
            <%- include('partials/footer.ejs') %>
       
    </body>

</html>