<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: 'Formulario de creación'}) %>
<body>
	<%- include('partials/header') %>

	<section class="edit_form">
		<h2>Formulario de edición de productos</h2>
        <p>Estas editando: <%= product.name %></p>
        <form action="/products/edit/<%= product.idproduct %>?_method=PATCH" method="POST" enctype="multipart/form-data" class="edit_form_main">
            <div class="product_field">
                <label for="nombre">Nombre del producto</label>
                <br>
                <input type="text" name="name" placeholder="Ej: Cafetera whirpool" class="Datos" value="<%= product.name %>">
            </div>
            <div class="product_field">
                <label for="precio">Precio del producto</label>
                <br>
                <input type="number" name="price" placeholder="Ej: 380" class="Datos" value="<%= product.price %>">
            </div>
			<div class="product_field">
                <label for="descuento">Descuento</label>
                <br>
                <input type="number" name="discount" placeholder="Ej: 30" class="Datos" value="<%= product.discount %>">
            </div>
			<div class="edit_form_category product_field">
				<label for="categoria">Categoría:</label>
				<select name="category">
					<option value="">Elegí</option>
					<option value="1">Electrodomésticos</option>
					<option value="2">Herramientas</option>
                    <option value="3">Industrial</option>
                    <option value="4">Jardinería</option>
                    <option value="5">Protección</option>
                    <option value="6">Construcción</option>
				</select>
			</div>
			<div class="second_product_field">
				<label for="imagen">Imagen de producto</label>
				<input type="file" id="productImage" name="productImage" value="<%= product.image %>">
			</div>
            <div class="second_product_field">
                <label for="usuario">Descripción</label>
                <br>
                <textarea name="description" id="" cols="30" rows="10"><%= product.description %></textarea>

            </div>
            <div class="second_product_field">
                <button class="boton">Guardar Producto</button>
            </div>
        </form>
    </section>
	<%- include('partials/footer') %>
</body>	
</html>