
 <%- include('partials/head.ejs')  %>
<body>
     <%- include('partials/header.ejs')  %> 
    <header>
            </section>
            <section class="mobile_bar">
                <i class="fa-solid fa-bars"></i>
            </section>
        </div>
    </header>

    <section class="capturaDatos">
        <% if(locals.errors){
            errors.forEach(error => { %>
                <p><%= error.msg %></p>
                <% })
        } %>
       
        <form action="/usuarios/register" method="POST" class="">
            <div>
                <label for="nombre">Nombre *</label>
                <input type="text" name="nombre" placeholder="Indique su nombre" class="Datos" value="<%= locals.old && old.nombre ? old.nombre : '' %>">
            </div>
            <div>
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" placeholder="Indique su apellido" class="Datos" value="<%= locals.old && old.apellido ? old.apellido : '' %>">

            </div>

            <div>
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" placeholder="Creá tu nombre de usuario" class="Datos" value="<%= locals.old && old.usuario ? old.usuario : '' %>">

            </div>

            <div>
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Indique su email" class="Datos" value="<%= locals.old && old.email ? old.email : '' %>">

            </div>
            <div>
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" placeholder="Ingresa tu contraseña" class="Datos">

            </div>
            <div>
                <button class="boton">REGISTRARSE</button>
            </div>


        </form>

    </section>
   <%- include('partials/footer.ejs')  %>
   <h3>efasdfsafs</h3>
</body>

</html>
</body>

</html> 