<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
                <!---Sección productos recomendados-->
         
                <div class="recomended_products_title">
                    <h2>HOLA ADMINISTRADOR</h2><a href="http://" class="product_link_title">Ver más</a>
                </div>

                <section class="product_recomended">
                  <% users.forEach(user => { 
                      let finalPrice = (user.price * ((100 - user.discount) / 100)).toFixed(0)
                      %>
                       <a href="/users/detail/<%= user.id %>">
                            <article class="product_carousel">
                          <div class="product_carousel_card">
                            <img src="/img/users/<%= user.avatar %>">
                            <h3><%= user.firstName %></h3>
                            <h4><%= user.lastName %></h4>
                            <h5><%= user.email %></h5>
                            <h6><%= user.type %></h6>
                          </div>
                        </article>

                      </a>
                    <% }) %>
              </section>
            <!---Footer-->
            <%- include('../partials/footer.ejs') %>
              </body>
</html>