<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
                <!---Sección productos recomendados-->
         
                <div class="recomended_products_title">
                    <h2>ELIMINAR USUARIO FERRETERIA BELGRANO</h2><a href="http://" class="product_link_title">Ver más</a>
                </div>
          <section class="edit_form">
                      <article class="product_carousel">
                        <div class="product_carousel_card">
                          <h3><%= user.firstName %></h3>
                          <h4><%= user.type %></h4>
                        </div>
                      </article>
                    
                        <div class="products_title">
                      <form action="/users/delete/<%= user.iduser %>"method="POST">
                        <BUtton type="submit" class="detail_button"">ELIMINAR USUARIO</BUtton>   
                             
                      </form>
                    </div>
          </section>
          <section>
        

				<ul class="payment">
					<li class="payment_tabs_tab">
						<i class="fas fa-credit-card"></i>
						<p>Pagá en 12 cuotas sin interes</p>
					</li>
					<li class="payment_tabs_tab">
						<i class="fas fa-store"></i>
						<p>Retiro gratis en locales del vendedor</p>
					</li>
				</ul>

              </section>
            <!---Footer-->
            <%- include('../partials/footer.ejs') %>
              </body>
</html>