<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
                <!---Sección productos recomendados-->
       

                <div class="product_description">
                  <h2>Detalle del usuario</h2>
                <p class="product-detail-description">
<div class="container">


    <div class="product-detail">
      <img src="/img/users/<%= user.image %>">

 
         
    <div class="container_desktop">
    
        <h2 class="products-title">
          <%= user.lastName %>
       
        </h2>

    
        <div class="product-detail-price">
          <h2>  <%=  user.type %></h2>
        </div>

        <h2 class="product-detail-price">
          <%=  user.email %>
        </h2>
            <div class="products_title">
              <form action="/users/delete/<%= user.iduser %>"method="POST">
                <BUtton type="submit" class="detail_button"">ELIMINAR USUARIO</BUtton>   
              </form>
    
    <form action="/users/edit/<%= user.iduser %>"method="GET">
    <BUtton type="submit" class="detail_button"">EDITAR USUARIO</BUtton> 
            </form>
            </form>
    </div>
  </div>

 
  </p>
  </div>
</div>
</div>
</div>
</div>
</div></div>
</div>
</html>
</html>
</body>
</body>
</section>

<%- include('../partials/footer.ejs') %>